
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= link_to gravatar_for(qeed_item), qeed_item%>
        <%= qeed_item.name %>
      </h1>
      <% $flag=1 %>
      <%= link_to "Invite", qeed_item %>
    </section>
  </aside>
</div>