<footer class="footer">
  <small>
    <%= link_to "iQuest", root_path %>
    iQuest team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>